trigger: none

pool:
  vmImage: 'ubuntu-latest'

variables:
  terraformFolder: 'terraform'
  awsConnection: 'AWS-Service-Connection'
  workspaceName: 'prod'

steps:

  - task: TerraformInstaller@1
    displayName: 'Install Terraform'
    inputs:
      terraformVersion: 'latest'

  - script: |
      terraform workspace select $(workspaceName) || terraform workspace new $(workspaceName)
    displayName: 'Select / Create workspace prod'
    workingDirectory: $(terraformFolder)

  - task: TerraformTaskV4@4
    displayName: 'Terraform Init'
    inputs:
      provider: 'aws'
      command: 'init'
      workingDirectory: $(terraformFolder)
      backendServiceAWS: $(awsConnection)

  - task: TerraformTaskV4@4
    displayName: 'Terraform Validate'
    inputs:
      provider: 'aws'
      command: 'validate'
      workingDirectory: $(terraformFolder)

  - task: TerraformTaskV4@4
    displayName: 'Terraform Plan'
    inputs:
      provider: 'aws'
      command: 'plan'
      workingDirectory: $(terraformFolder)
      environmentServiceNameAWS: $(awsConnection)
      commandOptions: '-out=tfplan'
      publishPlanResults: 'tfplan'
